/* Write your CSS here */

* {
  box-sizing: border-box;
  font-family: 'roboto';
}

body {
  margin: 0px;
}

.app-container {
  min-height: 100vh;
  width: 100%;
  background-size: cover;
  background-image: url('https://assets.ccbp.in/frontend/react-js/planets-app/planets-bg-img.png');
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 40px;
  padding-bottom: 40px;
}

.heading {
  color: #05acff;
  font-size: 40px;
  font-weight: bold;
}
